@tailwind base;
html {
    font-family: 'Inter', sans-serif;
}
body {
    overscroll-behavior-y: contain;
}
@tailwind components;

:focus {
    outline: 0 !important;
}

.flip-list-enter-active,
.flip-list-leave-active {
    transition: opacity 200ms ease;
}
.flip-list-enter-from,
.flip-list-leave-to {
    opacity: 0;
}
.flip-list-leave-active {
    position: absolute;
}
.flip-list-move {
    transition: transform 0.2s ease;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.input-base {
    @apply px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:shadow-none;
}

.clickable {
    @apply select-none;
}

@tailwind utilities;

.clickable-bg {
    @apply clickable;
    background: radial-gradient(circle at center, rgb(0 0 0 / 0.1) 50%, transparent 50%);
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
}
.clickable-bg:hover {
    animation-name: clickable-bg-circle, clickable-bg-fadeout;
    animation-duration: 150ms, 150ms;
    animation-delay: 0ms, 150ms;
    animation-timing-function: ease-out, ease-in-out;
}

@keyframes clickable-bg-fadeout {
    from {
        background: rgba(0 0 0 / 0.1);
    }
    to {
        background: rgba(0 0 0 / 0);
    }
}
@keyframes clickable-bg-circle {
    from {
        background-size: 0%;
    }
    to {
        background-size: 200%;
    }
}

.clickable-bg-blue {
    @apply clickable;
}
.clickable-bg-blue:hover {
    animation: clickable-bg-circle-blue 150ms ease-out;
}
@keyframes clickable-bg-circle-blue {
    from {
        background: radial-gradient(circle at center, theme('colors.blue.100') 50%, transparent 50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0%;
    }
    to {
        background: radial-gradient(circle at center, theme('colors.blue.100') 50%, transparent 50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0%;
        background-size: 200%;
    }
}
@keyframes clickable-bg-fadeout-blue {
    from {
        background: rgba(0 0 0 / 0.1);
    }
    to {
        background: rgba(0 0 0 / 0);
    }
}

.outline.hero {
    outline: none;
}

.popup-content-enter-active,
.popup-content-leave-active {
    @apply transition-all;
}
.popup-content-enter-from,
.popup-content-leave-to {
    @apply opacity-0 translate-y-20;
}

.popup-background-enter-active,
.popup-background-leave-active {
    @apply transition-all;
}
.popup-background-enter-from,
.popup-background-leave-to {
    @apply opacity-0;
}
