:root {
    --primary: theme('colors.primary-light');
    --primary-container: theme('colors.primary-container-light');
    --secondary: theme('colors.secondary-light');
    --secondary-container: theme('colors.secondary-container-light');
    --tertiary: theme('colors.tertiary-light');
    --tertiary-container: theme('colors.tertiary-container-light');
    --surface: theme('colors.surface-light');
    --surface-1: theme('colors.surface-1-light');
    --surface-2: theme('colors.surface-2-light');
    --surface-3: theme('colors.surface-3-light');
    --surface-4: theme('colors.surface-4-light');
    --surface-5: theme('colors.surface-5-light');
    --surface-variant: theme('colors.surface-variant-light');
    --background: theme('colors.background-light');
    --error: theme('colors.error-light');
    --error-container: theme('colors.error-container-light');
    --on-primary: theme('colors.on-primary-light');
    --on-primary-container: theme('colors.on-primary-container-light');
    --on-secondary: theme('colors.on-secondary-light');
    --on-secondary-container: theme('colors.on-secondary-container-light');
    --on-tertiary: theme('colors.on-tertiary-light');
    --on-tertiary-container: theme('colors.on-tertiary-container-light');
    --on-surface: theme('colors.on-surface-light');
    --on-surface-variant: theme('colors.on-surface-variant-light');
    --on-error: theme('colors.on-error-light');
    --on-error-container: theme('colors.on-error-container-light');
    --on-background: theme('colors.on-background-light');
    --outline: theme('colors.outline-light');
    --shadow: theme('colors.shadow-light');
    --inverse-surface: theme('colors.inverse-surface-light');
    --inverse-on-surface: theme('colors.inverse-on-surface-light');
    --inverse-primary: theme('colors.inverse-primary-light');
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary: theme('colors.primary-dark');
        --primary-container: theme('colors.primary-container-dark');
        --secondary: theme('colors.secondary-dark');
        --secondary-container: theme('colors.secondary-container-dark');
        --tertiary: theme('colors.tertiary-dark');
        --tertiary-container: theme('colors.tertiary-container-dark');
        --surface: theme('colors.surface-dark');
        --surface-1: theme('colors.surface-1-dark');
        --surface-2: theme('colors.surface-2-dark');
        --surface-3: theme('colors.surface-3-dark');
        --surface-4: theme('colors.surface-4-dark');
        --surface-5: theme('colors.surface-5-dark');
        --surface-variant: theme('colors.surface-variant-dark');
        --background: theme('colors.background-dark');
        --error: theme('colors.error-dark');
        --error-container: theme('colors.error-container-dark');
        --on-primary: theme('colors.on-primary-dark');
        --on-primary-container: theme('colors.on-primary-container-dark');
        --on-secondary: theme('colors.on-secondary-dark');
        --on-secondary-container: theme('colors.on-secondary-container-dark');
        --on-tertiary: theme('colors.on-tertiary-dark');
        --on-tertiary-container: theme('colors.on-tertiary-container-dark');
        --on-surface: theme('colors.on-surface-dark');
        --on-surface-variant: theme('colors.on-surface-variant-dark');
        --on-error: theme('colors.on-error-dark');
        --on-error-container: theme('colors.on-error-container-dark');
        --on-background: theme('colors.on-background-dark');
        --outline: theme('colors.outline-dark');
        --shadow: theme('colors.shadow-dark');
        --inverse-surface: theme('colors.inverse-surface-dark');
        --inverse-on-surface: theme('colors.inverse-on-surface-dark');
        --inverse-primary: theme('colors.inverse-primary-dark');
    }
}
