on:
    issue_comment:
        types: [created]

jobs:
    deploy_pr:
        runs-on: ubuntu-latest
        if: ${{ github.event.issue.pull_request && github.actor == 'sebastiandittrich' && github.event.issue_comment.comment == '/deploy' }}
        steps:
            - run: echo "Hello PR Comment ${{github.actor}} ${{github.repository_owner}}"
