name: Deploy to Kubernetes

on:
    push:
        tags:
            - v*

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 16
            - name: Log in to the Container registry
              uses: docker/login-action@v1
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v3
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            - name: Build and push Docker image
              uses: docker/build-push-action@v2
              with:
                  context: .
                  target: production
                  file: infrastructure/app/Dockerfile
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
    deploy:
        environment: production
        runs-on: ubuntu-latest
        needs: build
        if: github.event.push.tags
        steps:
            - uses: actions/checkout@v2
            - name: Install doctl
              uses: digitalocean/action-doctl@v2
              with:
                  token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
            - run: |
                  echo "
                  images: [{name: depends-on-environment, newName: ghcr.io/todoninja/todoninja-web:${{ github.ref_name }}}]" >> infrastructure/kubernetes/environments/preview/kustomization.yaml
            - name: Save DigitalOcean kubeconfig with short-lived credentials
              run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 todoninja-cluster
            - name: Deploy to DigitalOcean Kubernetes
              run: kubectl apply -n parchment-app-production -k infrastructure/kubernetes/environments/preview
