on:
    issue_comment:
        types: [created]

jobs:
    deploy_pr:
        runs-on: ubuntu-latest
        if: ${{ github.event.issue.pull_request }}
        steps:
            - run: echo "Hello PR Comment ${{ github.actor }} ${{ github.event.comment.body }}"
